<article class="releases-item">
  <a href="#" class="releases-item-link">
    <img class="releases-image" src="../assets/images/home/{{img}}" alt="furniture">
    <div class="releases-title__container">
      <h2 class="releases-title">{{title}}</h2>
      <p class="releases-subtitle">{{subtitle}}</p>
      <form action='#' class='releases-form'>
        <div class='releases-rating rating'>
          <div class='rating__body'>
            <div class='rating__active'></div>
            <div class='rating__items'>
              <input type='radio' class='rating__item' value='1' name='rating'>
              <input type='radio' class='rating__item' value='2' name='rating'>
              <input type='radio' class='rating__item' value='3' name='rating'>
              <input type='radio' class='rating__item' value='4' name='rating'>
              <input type='radio' class='rating__item' value='5' name='rating'>
            </div>
          </div>
          <div class='rating__value'>{{rating}}</div>
        </div>
      </form>
    </div>
    <p class="releases-cost">&#36;{{price}}</p>
    <button type='button' class="releases-basket">
      <img class="releases-basket__img" src="../assets/images/home/basket.png" alt="basket">
    </button>
  </a>
</article>
