<article class="releases-item">
  <a href="#" class="releases-item-link">
    <img class="releases-image" src="../assets/images/home/{{img}}" alt="furniture">
    <div class="releases-title__container">
      <h2 class="releases-title">{{title}}</h2>
      <p class="releases-subtitle">{{subtitle}}</p>
      <img class="releases-rating" src="../assets/images/home/{{rating}}" alt="rating">
    </div>
    <p class="releases-value">&#36;{{price}} Value</p>
    <button type='button' class="releases-basket">
      <img class="releases-basket__img" src="../assets/images/home/basket.png" alt="basket">
    </button>
  </a>
</article>
